{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{% block layout_main_navigation_menu_home %}
    {% if context.salesChannel.translated.homeEnabled %}
        <a class="nav-link main-navigation-link{% if controllerAction is same as('home') %} active{% endif %} home-link"
           href="{{ path('frontend.home.page') }}"
           itemprop="url"
           title="{{ "general.homeLink"|trans }}">
            <div class="main-navigation-link-text">
                 <span itemprop="name">{% if config('WslbnSimpleSubMenu.config.homeIcon') %}{% sw_icon 'home' %}{% else %}{{ "general.homeLink"|trans }}{% endif %}</span>
            </div>
        </a>
    {% endif %}
{% endblock %}

{% block layout_main_navigation_navigation_item %}
    <li class="nav-item navigation-list-item" data-simple-sub-menu="true">
        {{ parent() }}
    </li>
{% endblock %}