.navigation-flyout {
    width: unset;
    margin-left: -1rem;
    right: unset !important; // Neue Regel für die Position

    .container {
        padding: 0;
    }

    .row {
        margin: 0;
    }

    .col {
        padding: 0;
    }

    &-bar {
        display: none;
    }

    &-content {
        padding: 0 0 10px 0;
        max-height: unset !important; // Überschreibt das max-height
    }

    &-categories {
        flex-direction: column;
        &:not(.is-level-0) {
            margin-left: 0;
        }
        &.is-level-0 {
            > .navigation-flyout-col {
                margin-bottom: 0;
                flex: 0 0 100%;
                max-width: unset;
                padding: 0;
                &:before {
                    content: none;
                }
            }
        }
        // Versteckt Level-1 Spalten (Unterkategorien)
        &.is-level-1 {
            > .navigation-flyout-col {
                display: none !important;
            }
        }
    }
    &-link {
        &.is-level-0 {
            font-weight: normal;
        }
        &:hover {
            padding-left: 0;
        }
    }
}

.navigation-list-item {
    position: relative;

    &.is-open {
        .simple-sub-menu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}

.simple-sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    min-width: 200px; // Example min-width
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); // Example shadow
    padding: 10px; // Example padding

    .simple-sub-menu-list {
        list-style: none;
        padding: 0;
        margin: 0;

        .simple-sub-menu-item {
            margin-bottom: 5px;

            .simple-sub-menu-link {
                display: block;
                padding: 5px 10px;
                text-decoration: none;
                color: inherit; /* Inherit color from parent, overridden by config */

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    
}